# Dictonaries

In [43]:
d = {'key1': 'p1','key2':345}

In [9]:
d

{'key1': 'p1', 'key2': 345}

In [10]:
d['key1']

'p1'

In [12]:
d['key2']

345

In [15]:
d = {'k1':[1,2,3,4,5]}

In [16]:
d

{'k1': [1, 2, 3, 4, 5]}

In [19]:
d['k1']

[1, 2, 3, 4, 5]

In [20]:
my_list = d

In [21]:
my_list

{'k1': [1, 2, 3, 4, 5]}

In [26]:
d['k1'][0]

1

In [28]:
my_list['k1'][1]

2

In [30]:
my_list = d['k1']

In [31]:
my_list

[1, 2, 3, 4, 5]

In [32]:
my_list[2]

3

In [33]:
p = {'key1':{'innerkey':[1,2,3,4,5]}}

In [38]:
p['key1']['innerkey'][2]

3

# Boolean

In [45]:
True

True

In [46]:
False

False

In [47]:
my_list = [1,2,3,4]

In [48]:
my_list

[1, 2, 3, 4]

In [50]:
my_list[0] = 'new'

In [57]:
my_list

['new', 2, 3, 4]

# Tuples

In [56]:
t = (1,2,3)

In [53]:
t

(1, 2, 3)

In [54]:
t[0]

1

In [55]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

# Sets - Collection of unique elements

In [60]:
[1,2,3] # not set

[1, 2, 3]

In [61]:
[1,1,1,3,3,3,4,4,] # not set

[1, 1, 1, 3, 3, 3, 4, 4]

In [62]:
{1,2,3} # set

{1, 2, 3}

In [64]:
{1,1,1,1,3,3,3,4,4,4} # set - Unique numbers

{1, 3, 4}

In [67]:
set([1,1,1,1,1,3,3,4,4,5,5,6]) # call set for unique elements

{1, 3, 4, 5, 6}

In [68]:
s = {1,2,3}

In [71]:
s.add(5)

In [72]:
s

{1, 2, 3, 5}

In [73]:
s.add(5)

In [74]:
s

{1, 2, 3, 5}

# Comparision operators

In [76]:
1>2

False

In [77]:
1 < 2

True

In [78]:
1<=2

True

In [79]:
2 >=2

True

In [81]:
1 == 1

True

In [82]:
1 == 2

False

In [84]:
1 != 3 # not equals

True

In [85]:
'hi' == 'bye'

False

In [86]:
'hi' != 'bye'

True

In [87]:
(1 < 2) and (2 < 3)

True

In [89]:
(1 < 2) and (2 > 3) # and operator, all the conditions must be true

False

In [92]:
(1 < 2) or (2 < 3) #for or operator any one condition must be true

True

In [93]:
(1 > 2) and (2 < 3)

False