In [ ]:
print (), min, max, for,while, if, else, ord(), str, int, float

In [ ]:
Val = 2.0

# Data types
## int, floating, complex, str, Boolean (T/F), inbuilt, list, tuple, dictionary

In [ ]:
int_ = 5
float_ = 3.0
string_ = 'mystring'
complex_ = 2+3j
print (type(int_))
print (type(float_))
print (type(string_))
print (type(complex_))

In [ ]:
int_ = 'mystring'
float_ = 3.0
string_ = 5
complex_ = 2+3j
# display var value and type
print (int_, type(int_))
print (float_, type(float_))
print (string_, type(string_))
print (complex_, type(complex_))

In [5]:
val1 = 3
val2 = 5
temp = val1+val2
print (type(temp))
print (val1 + val2)

<class 'int'>
8

In [ ]:
##
str1 = ' '
str2 = " "
str3 = """ """
str4 = ' ' ' ' ' '
print (type (str1))
print (type (str2))
print (type (str3))
print (type (str4))

In [ ]:
##
str1 = ' '
str2 = " "
str3 = """ """
str4 = ' ' ' ' ' '
print (str1, type (str1))
print (str2, type (str2))
print (str3, type (str3))
print (str4, type (str4))

In [ ]:
she is going home.
and will come tomorrow

In [ ]:
##
#str1 = 'she's going home.'
str2 = "she's going home."
str3 = """she's going home."""
str4 = '''she's going home.'''
print (str1)
print (str2)
print (str3)
print (str4)

In [ ]:
##
# str1 = 'she is going home.
#and will come tomorrow'
#str2 = "she is going home.
#and will come tomorrow"
str3 = """she is going home.
and will come tomorrow"""
str4 = '''she is going home.
and will come tomorrow'''
#print (str1)
#print (str2)
print (str3)
print (str4)

In [ ]:
###
str1 = 'mystring'
print (str1[0]) # indexing/ Passing position within sqr bracket
print (str1[2])
print (str1[2:4])
print (str1[0:2])

In [ ]:
## in above string_replace 's' with 'a', string elements can't be changed, its called immutable, but entier string can be overwritten

In [ ]:
print (str1[2])
str1[2] = 'a'

In [ ]:
str1 = 'hello'
str2 = ' world'
int_3 = 5
print (str1+str2)
#print (str1 + int_3) ## can only concatenate str (not "int") to str
print (str1 + str(int_3))
print (str1*2) # '*' will duplicate the string

In [ ]:
# replace 's' with 'a'
str1 = 'mystring'

str1[0:2]+'a'+str1[3:]

In [1]:
# replace 's' with 'a'
str1 = 'mystring'

new_str = str1[0:2]+'a'+str1[3:]
print (new_str)

myatring

In [ ]:
print (str1 [0:])
print (str1 [-1:])

In [6]:
# inbuilt methods supported by string object type
## check if the string has any number or spl char
str1 = 'mystring'
str2 = 'mystring123.'
print (str1.isalnum())
print (str2.isalnum())
print (str1.capitalize())

True
False
Mystring

In [1]:
## Boolean: True:False
print (type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

# Operators and their precedences
## Arithmetic, Comparision/relation, logical

In [7]:
var1 = 3
var2 = 2
print (var1*var2)
print (var1**var2)
print (var1/var2)
print (var1//var2)
print (3//2.0)
print (var1%var2)

6
9
1.5
1
1.0
1

# Comparision operators
 ### always returs bool : True ot Flase

In [ ]:
var1 = 3
var2 = 4
print (var1==var2)
print (var1!=var2)
print (var1>var2)
print (var1>=var2)
print (var1<var2)
print (var1<=var2)

# Logical operators: AND, OR, NOT

In [13]:
print (not (True))
print (not (False))
print (not (True==False))
print ( ( not (3!=5) or (2>1) or ((4--4) and (4!=4))))
print ( ( not (3!=5) and (2>1) and (4--4) and (4!=4)))
# # print (7>4) and (4<0) or (4>2) and (4>5)
# # print ( (7>4) and (4<0) or (4>2) and (4>5))

False
True
True
True
False

# Assignment OPerator
### =, +=, -=, /=, %=, //=

In [ ]:
a=10
# a = a+5
a +=5
print (a) #
a -=10
print (a)
a *=2
print (a)
a %=4
print (a)
a /=5
print (a)
a //=5
print (a)

# identity operators: is, is not

In [ ]:
print (3 is 4)
print (3 is not 4)

# Membership Operators: in, not in

In [ ]:
print (5 in [3,4,5,6,7])
print (5 in [3,4,6,7])

In [ ]:
'bangalore' in ['bangalore','chennai','mumbai', 'delhi']

In [ ]:
'bangalore' not in ['bangalore','chennai','mumbai', 'delhi']

In [ ]:
## inbuitl functions
input()

In [ ]:
myint = input('Enter an integer')
print (type(myint))

In [ ]:
## read two integers from user and print sum of two

In [2]:
val1 = int(input('enter first value'))
val2 = int(input('enter second value'))
#sum_ = int(val1) + int(val2)
print (val1+val2)

enter first value3
enter second value4
7

In [3]:
val1 = input('enter first value')
val2 = input('enter second value')
sum_ = int(val1) + int(val2)
print (sum_)

enter first value5
enter second value6
11

In [ ]:
val1 = input('enter first value')

In [46]:
val1 = '123456789'
print (val1[0:])
print (val1[0:4])
print (val1[-5:-1:])
print (val1[-1:-3:-1])
print (val1[-4:-1:])
print (val1[-1::-1])

123456789
1234
5678
98
678
987654321

In [53]:
val1 = input('enter first value: ')
#print (val1[0:4])
print (val1[-1::-1])

enter first value: 1234
4321

In [13]:
x = 1
while (x<5):
    print ('x is: {}'.formar(x))
    x= x+1

AttributeError: 'str' object has no attribute 'formar'

In [7]:
print (range (0,5))

range(0, 5)