In [227]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Load practice.csv file as a data-frame and perform following operations on the data-frame (try to use pandas methods)

In [228]:
df=pd.read_csv('practice.csv')

In [229]:
df.head()

,MSSubClass,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av

In [108]:
df.describe()

         SubClass       LotArea  OverallQual    YearBuilt  MasVnrArea
count   30.000000     30.000000    30.000000    30.000000   30.000000
mean    45.000000  10257.700000     6.300000  1973.033333  120.633333
std     37.278079   2956.543883     1.393334    29.135218  162.790427
min     20.000000   4224.000000     4.000000  1915.000000    0.000000
25%     20.000000   7731.500000     5.000000  1957.250000    0.000000
50%     25.000000  10517.000000     6.500000  1971.500000    0.000000
75%     60.000000  11812.500000     7.000000  2002.750000  209.000000
max    190.000000  16321.000000     9.000000  2007.000000  640.000000

In [19]:
# 1.	Display all columns
list(df)

['MSSubClass',
 'MSZoning',
 'LotArea',
 'LotShape',
 'LotConfig',
 'LandSlope',
 'OverallQual',
 'YearBuilt',
 'MasVnrArea',
 'ExterQual',
 'BsmtExposure']

In [53]:
# 2.	create numerical and categorical columns list
numeric_col = df.select_dtypes(include = [np.number]).columns
print(numeric_col)

Cala_col = df.select_dtypes(include = [np.object]).columns
print(Cala_col)

Index(['MSSubClass', 'LotArea', 'OverallQual', 'YearBuilt', 'MasVnrArea'], dtype='object')
Index(['MSZoning', 'LotShape', 'LotConfig', 'LandSlope', 'ExterQual',
       'BsmtExposure'],
      dtype='object')

In [62]:
# 3.	display size of the data-frame
df.shape

(30, 11)

In [73]:
# 4.	rename column MSSubClass -> SubClass, MSZoning -> Zones

df.rename(columns={"MSSubClass": "SubClass", "MSZoning": "Zones"}, inplace=True)
df.head()

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av

In [96]:
# 5.	display distinct values for Zones, LotShape, LotConfig
# df.rename(columns={"SubClass":"MSSubClass", "Zones":"MSZoning"}, inplace=True)
print(df['LotShape'].unique())
print(df['Zones'].unique())
print(df['LotConfig'].unique())
# df.head()

['Reg' 'IR1' 'IR2']
['RL' 'RM']
['Inside' 'FR2' 'Corner' 'CulDSac']

In [99]:
# 6.	display count of distinct values for Zoning, LotShape, LotConfig
print(df['LotShape'].nunique())
print(df['Zones'].nunique())
print(df['LotConfig'].nunique())

3
2
4

In [112]:
# 7.	max, min of column YearBuilt
print(df['YearBuilt'].max())
print(df['YearBuilt'].min())

2007
1915

In [113]:
df.head(1)

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No

In [114]:
# 8.	create a new column “year_diff’. This will be holding difference of current year and YearBuilt
df['year-diff']=2020-df['YearBuilt']
df.head(1)

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure,year-diff
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No,17

In [120]:
# 9.	display distinct MSZoning for each OverallQual
df.groupby('OverallQual')['Zones'].unique()

OverallQual
4    [RL, RM]
5    [RL, RM]
6        [RL]
7    [RL, RM]
8        [RL]
9        [RL]
Name: Zones, dtype: object

In [127]:
# 10.	what is maximum LotArea where  BsmtExposure = Mn?
print(df[df.BsmtExposure == 'Mn']['LotArea'].max())
# print(df['LotArea'].max)

11250

In [135]:
# 11.	Sort dataframe based on following columns and orders: MSSubClass; ascending, YearBuilt; descending

df.sort_values(by=['SubClass','YearBuilt'], ascending=[True,False]).head(1)

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure,year-diff
25,20,RL,14230,Reg,Corner,Gtl,8,2007,640,Gd,No,13

In [138]:
# 12.	What is average OverallQual.
df['OverallQual'].mean()

6.3

In [153]:
# 13.	Group by YearBuilt and find maximum OverallQual
print(df.groupby('YearBuilt')['OverallQual'].max())

YearBuilt
1915    7
1927    4
1929    7
1930    7
1931    7
1939    5
1951    5
1957    5
1958    5
1960    6
1962    5
1965    5
1967    4
1968    5
1970    6
1973    7
1976    6
1993    5
2000    8
2001    7
2002    8
2003    7
2004    8
2005    9
2006    7
2007    8
Name: OverallQual, dtype: int64

In [193]:
# 14.	Load the data_1.csv again with MSSubClass as new index
df1=pd.read_csv('practice.csv', index_col='MSSubClass')
df1.head()

,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
MSSubClass,,,,,,,,,,
60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av

In [194]:
# 15.	Convert LotArea as numpy array

df['LotArea'].values

array([ 8450,  9600, 11250,  9550, 14260, 14115, 10084, 10382,  6120,
        7420, 11200, 11924, 12968, 10652, 10920,  6120, 11241, 10791,
       13695,  7560, 14215,  7449,  9742,  4224,  8246, 14230,  7200,
       11478, 16321,  6324], dtype=int64)

In [230]:
# 16.	In column MasVnrArea replace 0 with -1
# df.loc[df['MasVnrArea'].isin(['0'])]='-1'
df

,MSSubClass,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av
5,50,RL,14115,IR1,Inside,Gtl,5,1993,0,TA,No
6,20,RL,10084,Reg,Inside,Gtl,8,2004,186,Gd,Av
7,60,RL,10382,IR1,Corner,Gtl,7,1973,240,TA,Mn
8,50,RM,6120,Reg,Inside,Gtl,7,1931,0,TA,No
9,190,RL,7420,Reg,Corner,Gtl,5,1939,0,TA,No
10,20,RL,11200,Reg,Inside,Gtl,5,1965,0,TA,No
11,60,RL,11924,IR1,Inside,Gtl,9,2005,286,Ex,No
12,20,RL,12968,IR2,Inside,Gtl,5,1962,0,TA,No
13,20,RL,10652,IR1,Inside,Gtl,7,2006,306,Gd,Av
14,20,RL,10920,IR1,Corner,Gtl,6,1960,212,TA,No
15,45,RM,6120,Reg,Corner,Gtl,7,1929,0,TA,No
16,20,RL,11241,IR1,CulDSac,Gtl,6,1970,180,TA,No
17,90,RL,10791,Reg,Inside,Gtl,4,1967,0,TA,NaN
18,20,RL,13695,Reg,Inside,Gtl,5,2004,0,TA,No
19,20,RL,7560,Reg,Inside,Gtl,5,1958,0,TA,No
20,60,RL,14215,IR1,Corner,Gtl,8,2005,380,Gd,Av
21,45,RM,7449,Reg,Inside,Gtl,7,1930,0,TA,No
22,20,RL,9742,Reg,Inside,Gtl,8,2002,281,Gd,No
23,120,RM,4224,Reg,Inside,Gtl,5,1976,0,TA,No
24,20,RL,8246,IR1,Inside,Gtl,5,1968,0,TA,Mn
25,20,RL,14230,Reg,Corner,Gtl,8,2007,640,Gd,No
26,20,RL,7200,Reg,Corner,Gtl,5,1951,0,TA,Mn
27,20,RL,11478,Reg,Inside,Gtl,8,2007,200,Gd,No
28,20,RL,16321,IR1,CulDSac,Gtl,5,1957,0,TA,Gd
29,30,RM,6324,IR1,Inside,Gtl,4,1927,0,TA,No

In [233]:
# 17.	Check if there is/are any Null values (NaN) in the data given
df.isnull().sum()

MSSubClass      0
MSZoning        0
LotArea         0
LotShape        0
LotConfig       0
LandSlope       0
OverallQual     0
YearBuilt       0
MasVnrArea      0
ExterQual       0
BsmtExposure    1
dtype: int64

In [242]:
# 18.	Display percentage of missing values in each column if any

round(df.isnull().sum()/len(df)*100,3)

MSSubClass      0.000
MSZoning        0.000
LotArea         0.000
LotShape        0.000
LotConfig       0.000
LandSlope       0.000
OverallQual     0.000
YearBuilt       0.000
MasVnrArea      0.000
ExterQual       0.000
BsmtExposure    3.333
dtype: float64

In [269]:
# 19.	Select records where LotConfig is Inside
df1 = df['LotConfig'].values
df1

SyntaxError: invalid syntax (<ipython-input-269-2a071d0a18bd>, line 2)

In [258]:
# 20.	Make a new dataframe with only numeric columns
df

,MSSubClass,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av
5,50,RL,14115,IR1,Inside,Gtl,5,1993,0,TA,No
6,20,RL,10084,Reg,Inside,Gtl,8,2004,186,Gd,Av
7,60,RL,10382,IR1,Corner,Gtl,7,1973,240,TA,Mn
8,50,RM,6120,Reg,Inside,Gtl,7,1931,0,TA,No
9,190,RL,7420,Reg,Corner,Gtl,5,1939,0,TA,No
10,20,RL,11200,Reg,Inside,Gtl,5,1965,0,TA,No
11,60,RL,11924,IR1,Inside,Gtl,9,2005,286,Ex,No
12,20,RL,12968,IR2,Inside,Gtl,5,1962,0,TA,No
13,20,RL,10652,IR1,Inside,Gtl,7,2006,306,Gd,Av
14,20,RL,10920,IR1,Corner,Gtl,6,1960,212,TA,No
15,45,RM,6120,Reg,Corner,Gtl,7,1929,0,TA,No
16,20,RL,11241,IR1,CulDSac,Gtl,6,1970,180,TA,No
17,90,RL,10791,Reg,Inside,Gtl,4,1967,0,TA,NaN
18,20,RL,13695,Reg,Inside,Gtl,5,2004,0,TA,No
19,20,RL,7560,Reg,Inside,Gtl,5,1958,0,TA,No
20,60,RL,14215,IR1,Corner,Gtl,8,2005,380,Gd,Av
21,45,RM,7449,Reg,Inside,Gtl,7,1930,0,TA,No
22,20,RL,9742,Reg,Inside,Gtl,8,2002,281,Gd,No
23,120,RM,4224,Reg,Inside,Gtl,5,1976,0,TA,No
24,20,RL,8246,IR1,Inside,Gtl,5,1968,0,TA,Mn
25,20,RL,14230,Reg,Corner,Gtl,8,2007,640,Gd,No
26,20,RL,7200,Reg,Corner,Gtl,5,1951,0,TA,Mn
27,20,RL,11478,Reg,Inside,Gtl,8,2007,200,Gd,No
28,20,RL,16321,IR1,CulDSac,Gtl,5,1957,0,TA,Gd
29,30,RM,6324,IR1,Inside,Gtl,4,1927,0,TA,No

In [ ]:
21.	Make a new dataframe with only factorial/string columns

In [ ]:
22.	Drop column ExterQual

In [ ]:
23.	Group data on LotShape and find average LotArea