In [4]:
import numpy as np
import pandas  as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("practice.csv")
df.head()

,MSSubClass,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av

In [3]:
df.shape

(30, 11)

## Load practice.csv file as a data-frame and perform following operations on the data-frame (try to use pandas methods)
            1.	Display all columns
            2.	create numerical and categorical columns list
            3.	display size of the data-frame
            4.	rename column MSSubClass -> SubClass, MSZoning -> Zones
            5.	display distinct values for Zoning, LotShape, LotConfig # df.['col'].unique()
            6.	display count of distinct values for Zoning, LotShape, LotConfig # df.['col'].unique()
            7.	max, min of column YearBuilt
            8.	create a new column “year_diff’. This will be holding difference of current year and YearBuilt
            9.	display distinct MSZoning for each OverallQual
            10.	what is maximum LotArea where  BsmtExposure = Mn?
            11.	Sort dataframe based on following columns and orders: MSSubClass; ascending, YearBuilt; descending
            12.	What is average OverallQual.
            13.	Group by YearBuilt and find maximum OverallQal
            14.	Load the data_1.csv again with MSSubClass as new index
            15.	Convert LotArea as numpy array
            16.	In column MasVnrArea replace 0 with -1
            17.	Check if there is/are any Null values (NaN) in the data given
            18.	Display percentage of missing values in each column if any
            19.	Select records where LotConfig is Inside
            20.	Make a new dataframe with only numeric columns
            21.	Make a new dataframe with only factorial/string columns
            22.	Drop column ExterQual
            23.	Group data on LotShape and find average LotArea

In [11]:
# 2.    create numerical and categorical columns list

numeric_features = df.select_dtypes(include=[np.number]).columns
print(numeric_features)
catagorical_features = df.select_dtypes(include=[np.object]).columns
print('\n\n',catagorical_features)

Index(['MSSubClass', 'LotArea', 'OverallQual', 'YearBuilt', 'MasVnrArea'], dtype='object')


 Index(['MSZoning', 'LotShape', 'LotConfig', 'LandSlope', 'ExterQual',
       'BsmtExposure'],
      dtype='object')

In [12]:
# 3. df.reshape()

In [13]:
#  4.    rename column MSSubClass -> SubClass, MSZoning -> Zones

df.rename(columns={'MSSubClass':'SubClass', 'MSZoning': 'Zones'}, inplace=True )

In [14]:
df.head()

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av

In [16]:
# 5. 
print(df['LotShape'].unique())
# 6.	display count of distinct values for Zoning, LotShape, LotConfig # df.['col'].unique()
print(df['LotShape'].nunique())

['Reg' 'IR1' 'IR2']
3

In [18]:
#             7.	max, min of column YearBuilt
#             8.	create a new column “year_diff’. This will be holding difference of current year and YearBuilt
df['year_diff'] = 2020 - df['YearBuilt']
df.head()

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure,year_diff
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No,17
1,20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd,44
2,60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn,19
3,70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No,105
4,60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av,20

In [22]:
# 9.	display distinct MSZoning for each OverallQual  # df['MSZoning'].unique()
df.groupby('OverallQual')['Zones'].unique()

OverallQual
4    [RL, RM]
5    [RL, RM]
6        [RL]
7    [RL, RM]
8        [RL]
9        [RL]
Name: Zones, dtype: object

In [19]:
#      
#             10.	what is maximum LotArea where  BsmtExposure = Mn?
print(df[df.BsmtExposure=='Mn']['LotArea'].max())
#

11250

In [25]:
# 11.	Sort dataframe based on following columns and orders: MSSubClass; ascending, YearBuilt; descending.
df.sort_values(by = ['SubClass','YearBuilt'], ascending=[True,False]).head()

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure,year_diff
25,20,RL,14230,Reg,Corner,Gtl,8,2007,640,Gd,No,13
27,20,RL,11478,Reg,Inside,Gtl,8,2007,200,Gd,No,13
13,20,RL,10652,IR1,Inside,Gtl,7,2006,306,Gd,Av,14
6,20,RL,10084,Reg,Inside,Gtl,8,2004,186,Gd,Av,16
18,20,RL,13695,Reg,Inside,Gtl,5,2004,0,TA,No,16

In [21]:
# 12.	What is average OverallQual. # df['UverallQual'].mean()

In [ ]:
#  13.	Group by YearBuilt and find maximum OverallQal
print(df.groupby('YearBuilt')['OverallQual'].max())

In [5]:
#             14.	Load the data_1.csv again with MSSubClass as new index
df1 = pd.read_csv('practice.csv', index_col='MSSubClass')
df1.head()

,MSZoning,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure
MSSubClass,,,,,,,,,,
60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No
20,RL,9600,Reg,FR2,Gtl,6,1976,0,TA,Gd
60,RL,11250,IR1,Inside,Gtl,7,2001,162,Gd,Mn
70,RL,9550,IR1,Corner,Gtl,7,1915,0,TA,No
60,RL,14260,IR1,FR2,Gtl,8,2000,350,Gd,Av

In [27]:

#             15.	Convert LotArea as numpy array
print(df['LotArea'].values)
#

[ 8450  9600 11250  9550 14260 14115 10084 10382  6120  7420 11200 11924
 12968 10652 10920  6120 11241 10791 13695  7560 14215  7449  9742  4224
  8246 14230  7200 11478 16321  6324]

In [30]:
#  16.	In column MasVnrArea replace 0 with -1
df['MasVnrArea']

0     196
1       0
2     162
3       0
4     350
5       0
6     186
7     240
8       0
9       0
10      0
11    286
12      0
13    306
14    212
15      0
16    180
17      0
18      0
19      0
20    380
21      0
22    281
23      0
24      0
25    640
26      0
27    200
28      0
29      0
Name: MasVnrArea, dtype: int64

In [31]:
# 17.	Check if there is/are any Null values (NaN) in the data given
df.isnull().sum()

SubClass        0
Zones           0
LotArea         0
LotShape        0
LotConfig       0
LandSlope       0
OverallQual     0
YearBuilt       0
MasVnrArea      0
ExterQual       0
BsmtExposure    1
year_diff       0
dtype: int64

In [34]:
#             18.	Display percentage of missing values in each column if any
round(df.isnull().sum()/len(df)*100,5)

SubClass        0.00000
Zones           0.00000
LotArea         0.00000
LotShape        0.00000
LotConfig       0.00000
LandSlope       0.00000
OverallQual     0.00000
YearBuilt       0.00000
MasVnrArea      0.00000
ExterQual       0.00000
BsmtExposure    3.33333
year_diff       0.00000
dtype: float64

In [35]:
#             19.	Select records where LotConfig is Inside
df.head(1)

,SubClass,Zones,LotArea,LotShape,LotConfig,LandSlope,OverallQual,YearBuilt,MasVnrArea,ExterQual,BsmtExposure,year_diff
0,60,RL,8450,Reg,Inside,Gtl,7,2003,196,Gd,No,17

In [39]:
#             20.	Make a new dataframe with only numeric columns # ref question 2
df.new = df.select_dtypes(include=np.number)
df.new.head(1)

   SubClass  LotArea  OverallQual  YearBuilt  MasVnrArea  year_diff
0        60     8450            7       2003         196         17

In [41]:
#             21.	Make a new dataframe with only factorial/string columns
df.new1 = df.select_dtypes(include=np.object)
df.new1.head(1)

C:\Users\pkmb\AppData\Local\Continuum\anaconda3_1\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

  Zones LotShape LotConfig LandSlope ExterQual BsmtExposure
0    RL      Reg    Inside       Gtl        Gd           No

In [ ]:
#             22.	Drop column ExterQual
# "drop"

In [45]:
#             23.	Group data on LotShape and find average LotArea
df.groupby('LotShape')['LotArea'].mean()

LotShape
IR1    11492.307692
IR2    12968.000000
Reg     9085.187500
Name: LotArea, dtype: float64

In [46]:
df.groupby('LotShape')['LotArea'].agg('mean')

LotShape
IR1    11492.307692
IR2    12968.000000
Reg     9085.187500
Name: LotArea, dtype: float64