In [1]:
print ("Hello World")

Hello World

# Python collections 
- List
- tuple
- dictonary
- sets

## List
* Ordered
* indexed
* Duplicate member allowed

In [4]:
### syntax [element seperated by comma]
int_list = [1,2,3,4,5,6]
mix_list = [1,2,3,'hello',4,5,1.5]
print ( int_list, type(int_list))
print (mix_list, type(mix_list))

[1, 2, 3, 4, 5, 6] <class 'list'>
[1, 2, 3, 'hello', 4, 5, 1.5] <class 'list'>

In [7]:
### Accessing each element by indexing (Ordered)
mix_list = [1,2,3,'hello',4,5,1.5]
print (mix_list[1])
print (mix_list[3])

2
hello

In [11]:
l = [1,2,[3,4,5],6,7,[[20]]]
l[5][0][0]

20

In [17]:
mix_list = [1,2,3,'hello',4,4,4,4,4,5,1.5]
type(mix_list[3])
mix_list[8]

4

In [22]:
print(list(range(1,10))
print(list(1,2,3,4))

SyntaxError: invalid syntax (<ipython-input-22-ae1b5295c64c>, line 2)

## Negative Indexing

In [24]:
mix_list = [1,2,3,'hello',4,5,1.5]
print (mix_list[-1])
print (mix_list[-4])

1.5
hello

In [29]:
### Slicing [start:end]
mix_list = [1,2,3,'hello','world',4,5,1.5]
print (mix_list[3:5])
print (mix_list[2:])
print (mix_list[:6])
print (mix_list[::-1])

['hello', 'world']
[3, 'hello', 'world', 4, 5, 1.5]
[1, 2, 3, 'hello', 'world', 4]
[1.5, 5, 4, 'world', 'hello', 3, 2, 1]

In [31]:
## Negative slicing 
mix_list = [1,2,'hello','world',4.7,1.5]
print (mix_list[-4:-2])
print (mix_list[-4:])
print (mix_list[:-2])

['hello', 'world']
['hello', 'world', 4.7, 1.5]
[1, 2, 'hello', 'world']

In [ ]:
## changing a member value in the list

In [37]:
mix_list = [1,2,'hello','world',4.7,1.5]
mix_list[3]='everyone'
print(mix_list)
mix_list[3]=4
print(mix_list)
mix_list[3]=[6,7,8,9]
print(mix_list)
mix_list[3]=[1.2,1.3,1.4,1.5]
print(mix_list)

[1, 2, 'hello', 'everyone', 4.7, 1.5]
[1, 2, 'hello', 4, 4.7, 1.5]
[1, 2, 'hello', [6, 7, 8, 9], 4.7, 1.5]
[1, 2, 'hello', [1.2, 1.3, 1.4, 1.5], 4.7, 1.5]

In [39]:
###
mix_list = [1,2,'hello','world',4.7,1.5]

In [40]:
mix_list.append(5)
print(mix_list)

[1, 2, 'hello', 'world', 4.7, 1.5, 5]

In [62]:
mix_list = [1,2,'hello','world',4.7,1.5]
mix_list.extend([1,2,3])
print(mix_list)

[1, 2, 'hello', 'world', 4.7, 1.5, 1, 2, 3]

In [63]:
mix_list.insert(3,50)
print(mix_list)

[1, 2, 'hello', 50, 'world', 4.7, 1.5, 1, 2, 3]

In [64]:
mix_list.insert(3,[45,56])
print(mix_list)

[1, 2, 'hello', [45, 56], 50, 'world', 4.7, 1.5, 1, 2, 3]

In [65]:
### remove a value from exinsting list
mix_list.pop() #removing by index
print(mix_list)
mix_list.remove(2) # removing ny value
print(mix_list)

[1, 2, 'hello', [45, 56], 50, 'world', 4.7, 1.5, 1, 2]
[1, 'hello', [45, 56], 50, 'world', 4.7, 1.5, 1, 2]

In [70]:
mix_list = [1,2,'hello','world',4.7,1.5,4,5,6,7,8,8,8,8,11,1,1]
del mix_list[1] # removing by position
print(mix_list)
del mix_list[4:6] # removing by position
print(mix_list)

[1, 'hello', 'world', 4.7, 1.5, 4, 5, 6, 7, 8, 8, 8, 8, 11, 1, 1]
[1, 'hello', 'world', 4.7, 5, 6, 7, 8, 8, 8, 8, 11, 1, 1]

In [71]:
mix_list.count(1)

3

# Looping through the list

In [73]:
for ele in mix_list:
    print(ele)

1
hello
world
4.7
5
6
7
8
8
8
8
11
1
1

In [74]:
#WAP list of integer and subtract the mean of list from every number

In [84]:
import numpy as np
for each in range(1,11):
    print(each - np.mean(range(1,11)))

-4.5
-3.5
-2.5
-1.5
-0.5
0.5
1.5
2.5
3.5
4.5

In [1]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
### check if an element exists in the list
mix_list=[1,2,3,44,4,4,4,45,5,6,7,8,9]
print(7 in mix_list)
print(7 not in mix_list)
print(45 in mix_list)

True
False
True

In [8]:
[1,2,3]+[4,5,6] # concate

[1, 2, 3, 4, 5, 6]

In [11]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [ ]:
## WAP to generate a sq list from a list of int 1-10

In [3]:
square_list = []

for each in range(1,11):
    square_list.append(each**2)
    print(square_list)
print(square_list)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#     ## Tuple

###### 
- Ordered
- indexed
- duplicate members allowed
- only read operations supported

In [6]:
## syntax ()
my_tuple = (1,2,3,4,'hello','world',1.2,1.3,1.4)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 4, 'hello', 'world', 1.2, 1.3, 1.4)
<class 'tuple'>

In [7]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [17]:
my_tuple = (1,2,3,4,'hello','world',1.2,1.3,1.4,(10,20),[30,40,50])
print(my_tuple[4])
print(my_tuple)

hello
(1, 2, 3, 4, 'hello', 'world', 1.2, 1.3, 1.4, (10, 20), [30, 40, 50])

In [24]:
print(my_tuple[9][0])
print(my_tuple[9][1])
print(my_tuple[-2][1])
print(my_tuple[-2][-1])
print(my_tuple[-1][2])
print(my_tuple[-1][-1])
# print((len my_tuple)-1)[-1]
my_tuple[4:6]

10
20
20
20
50
50

('hello', 'world')

In [25]:
my_tuple.count(1)

1

In [28]:
my_tuple = (1,2,3,4,'hello','world',1.2,1.3,1.4,(10,20),[30,40,50])
print(len(my_tuple))

11