### Dictionary
##### """"
- unordered data, indexing
- Key:value pair
- ket should be immutable python data type
- values can be and python data type
- duplicate keys are not allowed"""

In [38]:
##
"""{key1:val1,
key2:val2,
...
keyn:valn}"""

'{key1:val1,\nkey2:val2,\n...\nkeyn:valn}'

In [40]:
### initialise a blank dictionary
d_={}
dict()
d_

{}

In [4]:
dict_ = {'a':1,'b':list(range(1,11)), 'c':'string','d':tuple(range(1,6,2))}
print (type(dict_))
print (dict_)

<class 'dict'>
{'a': 1, 'b': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'c': 'string', 'd': (1, 3, 5)}

In [7]:
dict1 = {'a':1, 'a':23}
print (dict1)

{'a': 23}

In [8]:
print ({'a':1,'a':1})
print ({'a':1,'a':2})
print ({'a':1,'b':1})

{'a': 1}
{'a': 2}
{'a': 1, 'b': 1}

In [ ]:
### Accessing values in dictionary
dict_ = {'a':1,'b':list(range(1,11)), 'c':'string','d':tuple(range(1,6,2))}

In [12]:
dict_['c']

'string'

In [14]:
print (dict_['d'][-1])

5

In [26]:
###

students = { 'name': ['A','B','C','D','E'],
           'age': ['12','23','34','22','21'],
            'rollno':(1,2,3,4,5),
           'address': {'city':['bangalore','chennai','mumbai','delhi','kolkata'],
                      'state':['KA','TN','MH','DL','WB'],
                      'pin':[1,2,3,4,5]}}
students

{'name': ['A', 'B', 'C', 'D', 'E'],
 'age': ['12', '23', '34', '22', '21'],
 'rollno': (1, 2, 3, 4, 5),
 'address': {'city': ['bangalore', 'chennai', 'mumbai', 'delhi', 'kolkata'],
  'state': ['KA', 'TN', 'MH', 'DL', 'WB'],
  'pin': [1, 2, 3, 4, 5]}}

In [25]:
print (students['address']['city'][1])

chennai

In [31]:
print (students['rollno'][2]) ## can not change the rollno as it is a tuple, although it can be overwritten

3

In [32]:
## Add school name with new key and values
### kay:school_name
### value: ['ABC','BCD','CDE','DEF','EFG']

students['school_name'] = ['ABC','BCD','CDE','DEF','EFG']
students

{'name': ['A', 'B', 'C', 'D', 'E'],
 'age': ['12', '23', '34', '22', '21'],
 'rollno': (1, 2, 3, 4, 5),
 'address': {'city': ['bangalore', 'chennai', 'mumbai', 'delhi', 'kolkata'],
  'state': ['KA', 'TN', 'MH', 'DL', 'WB'],
  'pin': [1, 2, 3, 4, 5]},
 'school_name': ['ABC', 'BCD', 'CDE', 'DEF', 'EFG']}

In [35]:
students['address'] = {'area':['a','b','c','d','e'],
                       'city': ['bangalore', 'chennai', 'mumbai', 'delhi', 'kolkata'],
  'state': ['KA', 'TN', 'MH', 'DL', 'WB'],
  'pin': [1, 2, 3, 4, 5]}
students

{'name': ['A', 'B', 'C', 'D', 'E'],
 'age': ['12', '23', '34', '22', '21'],
 'rollno': (1, 2, 3, 4, 5),
 'address': {'area': ['a', 'b', 'c', 'd', 'e'],
  'city': ['bangalore', 'chennai', 'mumbai', 'delhi', 'kolkata'],
  'state': ['KA', 'TN', 'MH', 'DL', 'WB'],
  'pin': [1, 2, 3, 4, 5]},
 'school_name': ['ABC', 'BCD', 'CDE', 'DEF', 'EFG']}

In [37]:
students['address']['area'][0]='f'
students

{'name': ['A', 'B', 'C', 'D', 'E'],
 'age': ['12', '23', '34', '22', '21'],
 'rollno': (1, 2, 3, 4, 5),
 'address': {'area': ['f', 'b', 'c', 'd', 'e'],
  'city': ['bangalore', 'chennai', 'mumbai', 'delhi', 'kolkata'],
  'state': ['KA', 'TN', 'MH', 'DL', 'WB'],
  'pin': [1, 2, 3, 4, 5]},
 'school_name': ['ABC', 'BCD', 'CDE', 'DEF', 'EFG']}

In [48]:
[1,2,3,4]
['b','c','d','e']
d={}
for v,k in zip([1,2,3,4],['b','c','d','e']):
    print(v,k)
    d[k]=v
d

1 b
2 c
3 d
4 e

{'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [50]:
dict(zip(['b','c','d','e'],[1,2,3,4]))

{'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [52]:
### Looping through dictionary
for k,v in students.items():
    print(k,v)

name ['A', 'B', 'C', 'D', 'E']
age ['12', '23', '34', '22', '21']
rollno (1, 2, 3, 4, 5)
address {'area': ['f', 'b', 'c', 'd', 'e'], 'city': ['bangalore', 'chennai', 'mumbai', 'delhi', 'kolkata'], 'state': ['KA', 'TN', 'MH', 'DL', 'WB'], 'pin': [1, 2, 3, 4, 5]}
school_name ['ABC', 'BCD', 'CDE', 'DEF', 'EFG']

In [55]:
for k in students.keys():
    print(k)

name
age
rollno
address
school_name

In [57]:
for v in students.values():
    print(v)

['A', 'B', 'C', 'D', 'E']
['12', '23', '34', '22', '21']
(1, 2, 3, 4, 5)
{'area': ['f', 'b', 'c', 'd', 'e'], 'city': ['bangalore', 'chennai', 'mumbai', 'delhi', 'kolkata'], 'state': ['KA', 'TN', 'MH', 'DL', 'WB'], 'pin': [1, 2, 3, 4, 5]}
['ABC', 'BCD', 'CDE', 'DEF', 'EFG']

## Sets
    - unordered
    - unindexed
    - duplicate members are not allowed

In [58]:
set1 = list(range(1,20))
print(type(set1))

<class 'list'>

In [60]:
print(set(set1))
print(type(set(set1)))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
<class 'set'>

In [68]:
s1 = set(range(1,21))
s2 = set(range(15,31))
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}

In [73]:
### differences
print (s1.difference(s2))
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [74]:
## difference_update
print(s1.difference_update(s2))
print(s1)

None
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [75]:
s1 = set(range(1,21))
s2 = set(range(15,31))
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}

In [76]:
print(s1.intersection(s2))

{15, 16, 17, 18, 19, 20}

In [77]:
s1.union(s2)

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30}

In [83]:
## Duplicate value ??? set does not support duplicate value
s4 = {1,1,1,2,3,4}
print (type(s4))

<class 'set'>

In [86]:
s4 = {1,1,1,2,3,4}
print(s4.pop())
print(s4)

1
{2, 3, 4}

In [92]:
s = {'a','b','c'}
result = s.intersection(set(['a','b','e']))
print (result)
print(tuple(result))
print(list(result))

{'a', 'b'}
('a', 'b')
['a', 'b']

# ## List comprehension/generator

In [94]:
###
syntax  #  [<ouput expression> for <variable> in <iterable> (<conditions>)]

In [99]:
### generate a list of integer from 1 to 10

list_ = []
for e in range(1,11):
    list_.append(e)
print(list_)

In [101]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [104]:
squared_list = [i**2 for i in range(1,11)]
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [117]:
squared_list = [i**2 for i in range(2,21) if i%2==0]
print(squared_list)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [118]:
for e in range(1,21):
    if e%2==0:
        print(e,e**2)

2 4
4 16
6 36
8 64
10 100
12 144
14 196
16 256
18 324
20 400

In [120]:
squared_list = [[i**2,i] for i in range(2,21) if i%2==0]
print(squared_list)

[[4, 2], [16, 4], [36, 6], [64, 8], [100, 10], [144, 12], [196, 14], [256, 16], [324, 18], [400, 20]]

In [129]:
[(i**2,i) for i in range(2,21) if i%2==0]

[(4, 2),
 (16, 4),
 (36, 6),
 (64, 8),
 (100, 10),
 (144, 12),
 (196, 14),
 (256, 16),
 (324, 18),
 (400, 20)]

In [138]:
for i in range(1,4):
    for j in range(2,4):
        if j%2==0:
            print (i*j)

2
4
6

In [132]:
[i*j for i in range(1,4) for j in range(2,4) if j%2==0]

[2, 4, 6]

## List Generator

In [1]:
[i*j for i in range(1,4) for j in range(2,4) if j%2==0]

[2, 4, 6]

In [142]:
(i*j for i in range(1,4) for j in range(2,4) if j%2==0)

In [143]:
list((i*j for i in range(1,4) for j in range(2,4) if j%2==0))

[2, 4, 6]

In [146]:
for i in (i*j for i in range(1,4) for j in range(2,4) if j%2==0):
    print(i)

2
4
6