In [2]:
import numpy as np
import pandas  as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("cencus.txt")

In [24]:
df.head(1)

,age,workclass,emp-no,education,Edu_no,marital_status,occupation,relationship,Race,Gender,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24216 entries, 0 to 24215
Data columns (total 15 columns):
age                24216 non-null int64
 workclass         24216 non-null object
 emp-no            24216 non-null int64
 education         24216 non-null object
 Edu_no            24216 non-null int64
 marital_status    24216 non-null object
 occupation        24215 non-null object
 relationship      24215 non-null object
 Race              24215 non-null object
 Gender            24215 non-null object
 capital-gain      24215 non-null float64
 capital-loss      24215 non-null float64
 hours-per-week    24215 non-null float64
 native-country    24215 non-null object
 class             24215 non-null object
dtypes: float64(3), int64(3), object(9)
memory usage: 2.8+ MB

In [7]:
df.columns

Index(['age', ' workclass', ' emp-no', ' education', ' Edu_no',
       ' marital_status', ' occupation', ' relationship', ' Race', ' Gender',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' class'],
      dtype='object')

In [18]:
df.isnull().sum()

age                0
 workclass         0
 emp-no            0
 education         0
 Edu_no            0
 marital_status    0
 occupation        1
 relationship      1
 Race              1
 Gender            1
 capital-gain      1
 capital-loss      1
 hours-per-week    1
 native-country    1
 class             1
dtype: int64

In [22]:
df.size

363240

In [23]:
df.shape

(24216, 15)

In [30]:
df.head(1)

,age,workclass,emp-no,education,Edu_no,marital_status,occupation,relationship,Race,Gender,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K

In [45]:
df[' workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [46]:
df.columns

Index(['age', ' workclass', ' emp-no', ' education', ' Edu_no',
       ' marital_status', ' occupation', ' relationship', ' Race', ' Gender',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' class'],
      dtype='object')

In [49]:
df[' Edu_no'].isnull().sum()

0